<div class="container" style="text-align:center" id="footer">
	<a href="https://instagram.com/12loops" target="_blank"><i class="fa fa-instagram"></i></a> |
	<a href="https://instagram.com/12loops" target="_blank"><i class="fa fa-twitter"></i></a>
</div>