<div class="container">
	<div class="jumbotron" style="background-color:transparent !important;">
  <h3>About Us</h3>
  <p>Behind 12 Loops is a small group of young professionals in New York City.</p> 
  <p>As pedestrians, we couldn't help but notice the depressed conditions of public basketball courts.</p>
  <p>For a fraction of the cost, and none of the permission, we decided to make streetball a little better for everyone.</p>
  
  <p><a class="btn btn-give btn-sm" href="https://www.indiegogo.com/projects/12-loops-a-streetball-project/" role="button">Get Involved</a></p>
</div>

</div>
