<%
meta title: "A Streetball Project",
     description: "12 Loops is a social project to improve the state of play at public basketball courts in NYC."
%>

<div class="container" style="text-align: center">
<h1 style="text-align: center">Help Fix NYC Streetball</h1>


<div class="row">
	<div class="col-md-3"></div>	
	  <div class="col-md-6">
	  <div class = "videoWrapper">
	  	<iframe width="560" height="315" src="https://www.youtube.com/embed/HFrAWZG8Snk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  	</div>
	  </div>
	<div class="col-md-3"></div>
</div>

<br>
<p><a class="btn btn-give btn-md" href="volunteer" role="button">Get Involved</a></p>

</div>

