<%
meta title: "Partners",
     description: "Supporters of the 12 Loops mission."
%>
<div class="container">

<h3>Everyone who makes 12 Loops a reality.</h3>
<br>
 
<table style="width:50%">
  <!-- Supporter -->
    <tr>
      <td><a class="supporter" href="http://www.logicandgrace.com/" target="_blank">Halley Morrissey</a></td> 
    </tr>

  <!-- Supporter -->
    <tr>
      <td><a class="supporter" href="http://lbocourse.com/" target="_blank">Hideko Tachibana</a></td> 
    </tr>

  <!-- Supporter -->
    <tr>
      <td><a class="supporter" href="https://www.linkedin.com/in/amritamattoo/" target="_blank">Amrita Mattoo</a></td>
    </tr>

  <!-- Supporter -->
    <tr>
      <td><a class="supporter" href="http://life-longlearner.com/" target="_blank">Scott Britton</a></td>
    </tr>

  <!-- Supporter -->
    <tr>
      <td><a class="supporter" href="http://sprinkle.ai/" target="_blank">David Krevitt</a></td>
    </tr>

  <!-- Supporter -->
    <tr>
      <td><a class="supporter" href="http://joshuaness.com/" target="_blank">Joshua Ness</a></td>
    </tr>

  <!-- Supporter -->
    <tr>
      <td><span class="supporter">Jared Miller</span></td>
    </tr>

  <!-- Supporter -->
    <tr>
      <td><a class="supporter" href="https://www.linkedin.com/in/stefandwilliams" target="_blank">Stefan Williams</a></td>
    </tr>

</table>
</div>



