<div class="container" style="text-align:center">

<fieldset>
    <script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)
                        {window.location='thank-you';}"></iframe>
    <form class="form-inline" action="https://docs.google.com/forms/d/1HkismaaP3r6Kbd6OGXX899H7outWSohLabE_gjSFCeQ/formResponse" method="post" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;" role="form">
      <h1 style= "text-align: center">Volunteer to Hang a Net</h1>
      <p>Provide your info and we'll send a net + instructions to join the team.</p>
      <br>
      <p>
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">First Name</label>
        <input type="text" class="form-control" name="entry.1823615539" id="entry.1823615539" placeholder="First Name" dir="auto" aria-label="Name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Zip Code</label> 
        <input type="text" class="form-control" name="entry.25997382" id="entry.25997382" placeholder="Zip Code" dir="auto" aria-label="Zip Code">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Cell #</label>
        <input type="text" class="form-control" name="entry.143623549" id="entry.143623549" placeholder="Cell # (SMS only)" dir="auto" aria-label="Cell #">
      </div>
      	<br><br>
        <p>
    			<input class="btn btn-give btn-sm" type="submit" value="Join Us" name="submit" id="ss-submit" style="display:block; margin:auto;"/>
    		</p>
    </form>
</fieldset>

</div>