<!DOCTYPE html>
<html>
<head>
  <title>12 Loops</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'shared/header' %>


<%= yield %>

</body>
</html>
